.main-right h1 {
  font-size: 20px;
  font-family: '微软雅黑';
  text-align: center;
  margin: 10px 0;
}

.subtitle_description {
  color: #666;
  text-align: center;
  border-bottom: 1px dotted #666;
  word-spacing: 70px;
}

.list_content {
  font-size: 14px;
  padding: 20px;
  line-height: 25px;
  text-indent: 2em;
}

.reward ,
.activity_rules {
  list-style-type: none;
}