* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.top {
	height: 70px;
	position: relative;
}
.top-left {
	position: absolute;
	left: 0;
	top: 0;
}
.top-right {
	position: absolute;
	top: 0;
	left: 200px;
}

.top-right li {
	width: 80px;
	float: left;
	list-style-type: none; 
	line-height: 70px;
	text-align: center;
}
.top-right li>a {
	font-size: 16px;
	text-decoration: none;
	display: block;
	color: #000;
}

.top-right a:hover,
.top-right a:active  {
	background-color: #b52b2b;
}

.ad {
	margin-top: 5px;
	height: 251px;
}

.news {
	margin-top: 15px;
}
.news-left,
.news-right {
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
.news-left {
	width: 100px;
	float:left;
	background-color: #b52b2b;
	color: #efe6e6;
	text-align: center;
}
.news-right {
	width: 890px;
	background-color: #383232;
	float:left;
	color: #efe6e6;
	padding-left: 10px;
}
.news-right p {
	font-size: 14px;
}

.course {
	padding-top: 15px;
	height: 140px;
	clear: left;
}

.course-left {
	padding-right: 5px; 
	float: left;
}
.course-mid {
	float: left;
	padding-right: 5px; 
}
.course-right {
	float: right;
}
.course p {
	width: 328px;
	border: 1px solid #ccc;
	text-align: center;
}
.main {
	position: relative;
	clear: both;
	margin-top: 15px;
}
.main-left {
	width: 331px;
	position: absolute;
	left: 0;
	top: 0;
}

.title {
	height: 30px;
	background-color: #b52b2b;
	text-indent: 2em;
	font-size: 14px;
	color: #efe6e6;
	line-height: 30px;
}
.list {
	width: 328px;
	height: 180px;
	border: solid #ccc;
	border-width: 0 1px 1px;
}
.item {
	height: 60px;
	position: relative;
	margin: 0 2px 0;
}
.item:not(:last-child) {
	border-bottom: 1px solid #ccc;
}
.list-left {
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 5px;
	border: 1px solid #b52b2b;
	border-radius: 5px;
	background-color: #b52b2b;
	position: absolute;
	left: 5px;
	top: 5px;
}
.list-left p {
	color: #efe6e6;
	font-size: 14px;
	margin-top: 3px;
}
.list-right	{
	width: 275px;
	position: absolute;
	right: 0;
	top: 5px;
}
.list-right h2 {
	margin-bottom: 8px;
	font-size: 14px;
}

.main-left {
	width: 330px;
	position: absolute;
	left: 0;
	top: 0;
}

.main-mid {
	margin: 0 335px;
}
.image {
	width: 300px;
	height: 100px;
	margin: 0px auto;
	padding: 5px;
}
.image img {
	width: 100%;
	height: 100%;
}
.main-mid .content {
	padding: 2px 15px;
	line-height: 13px;
}

.main-right	{
	width: 330px;
	position: absolute;
	right: 0;
	top: 0;
}

.group {
	height: 80px;
	padding-top: 10px;
	padding-left: 5px;
}
.group p {
	font-size: 14px;
}

.footer {
	background-color: #E8E8E8;
}
.copyright {
	width: 500px;
	height: 50px;
	font-size: 14px;
	margin: 10px auto;
	line-height: 50px;
}



